
<div>
  <div>
    <h1>divulgue a vaga preenchendo formulario</h1>
  </div>
  <div>
    <h2>preencha os dados da melhor forma possivel para encontrar mais rapidamente sua vaga</h2>
    <form action="/jobs/add" method="POST">
      <div>
        <label for="title">title da vaga</label>
        <input type="text" id="title" name="title">
        <small>o titulo é importante</small>
      </div>
      <div>
        <label for="description">desc da vaga</label>
        <textarea type="text" id="description" name="description"></textarea>
      <div>
        </div>
        <label for="company">empresa contratante da vaga</label>
        <input type="text" id="company" name="company" value="">
      </div>
      <div>
        <label for="salario">salario da vaga</label>
        <input type="text" id="salary" name="salary" value="">
      </div>
      <div>
        <label for="email">email p contato</label>
        <input type="email" id="email" name="email" value="">
      </div>
      <input type="hidden" name="new_job" value="1">
      <button type="submit">enviar</button>
    </form>
  </div>
</div>
