<div>
  <h1>Encontre emprego dos seus sonhos</h1>
  <p>Bla bla bla</p>
  <form>
    <div>
      <input type="text" id="job" name="job" placeholder="digite a vaga que esta buscando">
    </div>
    <div>
      <button type="submit">procurar</button>
    </div>
  </form>
</div>

<main>
  <div>
    <div>
      <h2 id="job-list-title">veja nossas vagas em destaque</h2>
      <ul>
        <li>
          <img src="img/company.svg" alt="">
          <p>empresa</p>
          <h2>titulo vaga</h2>
          <p>2000</p>
          <span>nova</span>
          <a href="">ver vaga</a>
        </li>
        <li>
          <img src="img/company.svg" alt="">
          <p>empresa</p>
          <h2>titulo vaga</h2>
          <p>2000</p>
          <span>nova</span>
          <a href="">ver vaga</a>
        </li>
        <li>
          <img src="img/company.svg" alt="">
          <p>empresa</p>
          <h2>titulo vaga</h2>
          <p>2000</p>
          <a href="">ver vaga</a>
        </li>
      </ul>
    </div>
  </div>
</main>
